@if (string.IsNullOrEmpty(Request["IsPreView"]) && string.IsNullOrEmpty(Request["FlowCode"]) && string.IsNullOrEmpty(Request["TaskExecID"]) && (string.IsNullOrEmpty(Request["FuncType"]) || Request["FuncType"].ToLower() != "view"))
{
    <div style='width: 100%; height: 28px;'>
    </div>
}
<script src="@Url.Content("/EPC/Scripts/Design/Bom/jquery.tmpl.js")" type="text/javascript"></script>
<form id="dataForm" method="post" align="center" autogetdata="false">
    <input name="ID" class="mini-hidden" />
    @Html.Raw(ViewBag.HiddenHtml)
    <div class="formDiv">
        @Html.Raw(ViewBag.FormHtml)
        <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;"></td>
                    <td style="white-space: nowrap;">
                        显示：<input name="ShowType" class="mini-combobox" style="width: 100px;" textfield="text" valuefield="value" data="showType"
                                  allowinput="false" onvaluechanged="onShowTypeChanged" value="Diff" /> &nbsp;
                    </td>
                </tr>
            </table>
        </div>
   
        <div id="dataTree" class="mini-treegrid" style="width:100%;height:600px;" allowcellselect="true"
             url="" expandonload="true" showtreeicon="true" ondrawcell="onDrawingCell" allowcellwrap="true" multiselect="true"
             treecolumn="Name" idfield="ID" parentfield="ParentID" resultastree="false" expandonload="true" iconfield=""
             allowresize="false" fitcolumns="true"
             ondrop="onNodeDrop">
            <div property="columns">
                <div type="checkcolumn"></div>
                <div name="Name" field="Name" width="70" headeralign="center">
                    项目名称
                    <input property="editor" class="mini-textbox" style="width: 100%;" />
                </div>
                <div name="Code" field="Code" width="50" headeralign="center">
                    清单编号
                    <input property="editor" class="mini-textbox" style="width: 100%;" />
                </div>
                <div name="Property" field="Property" width="100" headeralign="center">
                    项目特征
                    <input property="editor" class="mini-textarea" style="width: 100%;" />
                </div>
                <div name="Unit" field="Unit" width="20" align="center" headeralign="center">
                    单位
                    <input property="editor" data="QuantityUnit" class="mini-textbox" style="width: 100%;" />
                </div>
                <div name="Quantity" field="Quantity" width="30" headeralign="center" datatype="float" align="right">
                    数量
                    <input property="editor" class="mini-textbox" vtype="float" style="width: 100%;" />
                </div>
                @*<div name="UnitPrice" field="UnitPrice" width="40" headeralign="center" datatype="currency" align="right">
                    单价（元）
                    <input property="editor" class="mini-textbox" vtype="float" style="width: 100%;" />
                </div>
                <div name="Price" field="Price" width="40" headeralign="center" datatype="currency" align="right">
                    合价（元）
                    <input property="editor" class="mini-textbox" allowinput="false" vtype="float" style="width: 100%;" />
                </div>*@
                <div name="Remark" field="Remark" width="80" headeralign="center">
                    备注
                    <input property="editor" class="mini-textbox" style="width: 100%;" maxlength="500" />
                </div>
                <div name="SortIndex" field="SortIndex" width="20" visible="false" align="center" headeralign="center"></div>
            </div>
        </div>
       
    </div>

    @if (System.Configuration.ConfigurationManager.AppSettings["showFlowComments"] == "True" && (!string.IsNullOrEmpty(Request["TaskExecID"]) || !string.IsNullOrEmpty(Request["FlowCode"])))
    {
        <div style="margin-left: 35px; margin-right: 35px; margin-bottom: 65px;">
            <fieldset>
                <legend style="font-weight: bold;margin-left:35px;">操作信息</legend>
                <div id="comment"></div>
            </fieldset>
        </div>

        <script type="text/javascript">
            function onCommentLoad(e) {
                if (e.data.length == 0)
                    $("#commentGrid").hide();
            }
        </script>
    }
</form>
@if (!string.IsNullOrEmpty(Request["IsPreView"]))
{
}
else if (!string.IsNullOrEmpty(Request["FlowCode"]) || !string.IsNullOrEmpty(Request["TaskExecID"]) || (!string.IsNullOrEmpty(Request["FuncType"]) && Request["FuncType"].ToLower() == "view"))
{
    @Html.GetFlowbar()
}
else
{
    <div class="mini-toolbar" id="btnDiv" style="width: 100%; position: fixed; top: 0; left: 0; z-index: 100;">
        <table>
            <tr>
                <td>
                    <a id="btnSave" class="mini-button" plain="true" iconcls="icon-save" onclick="save();">保存</a>
                    <a id="btnCancel" class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
                </td>
                <td id="btnRight"></td>
            </tr>
        </table>
    </div>

}
<script type="text/javascript">
        @Html.Raw(ViewBag.DataSource);
    var formData=@Html.Raw(ViewBag.FormData);
    var fieldInfo=@Html.Raw(ViewBag.FieldInfo);
    var position = '@System.Configuration.ConfigurationManager.AppSettings["showCommentPosition"]';
    @Html.Raw(ViewBag.Script)

</script>
<script type="text/javascript">
    $(document).ready(function () {
        var form = new mini.Form("dataForm");
        form.setData(formData);
        form.setChanged(false);

        //将地址栏参数赋值给form的空值隐藏控件
        $("form .mini-hidden").each(function () {
            var name = $(this).attr("name");
            if (hasQueryString(name)) {
                var field = mini.getbyName(name);
                if (field.getValue() == "")
                    field.setValue(getQueryString(name));
            }
        });

        //大字段赋值给Grid
        $("form .mini-datagrid").each(function () {
            var id = $(this).attr("id");
            if ((formData || 0)[id] != undefined)
                mini.get(id).setData(mini.decode(formData[id]));
        });

        //调用界面上的onFormSetValue方法
        if (typeof (onFormSetData) != "undefined")
            onFormSetData(formData);

        //流程：加载FlowBar
        var flowMenubar = mini.get("flowMenubar");
        if (flowMenubar != undefined) {
            flowLoadMenubar(formData);
        }

    });

</script>
<script id="formTemplate" type="text/x-jquery-tmpl">
    <div style="text-align:left; font-weight:bolder; color:red;">上一版内容</div>
    <table class="mini-grid-table" cellspacing="0" cellpadding="0" style="width:700px;table-layout:fixed;">
        <tr>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 50px;text-align:center">清单编号</td>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 70px;text-align:center">项目名称</td>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 100px;text-align:center">项目特征</td>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 20px;text-align:center">单位</td>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 30px;text-align:center">数量</td>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 40px;text-align:center">单价</td>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 40px;text-align:center">合价</td>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 80px;text-align:center">备注</td>
        </tr>
        <tr>
            <td style="text-align:center">${Code}</td>
            <td style="text-align:left">${Name}</td>
            <td style="text-align:left">${Property}</td>
            <td style="text-align:center">${Unit}</td>
            <td style="text-align:right">${Quantity}</td>
            <td style="text-align:right">${UnitPrice}</td>
            <td style="text-align:right">${Price}</td>
            <td style="text-align:left">${Remark}</td>
        </tr>
    </table>
</script>
<script type="text/javascript">
    addMultiUserSelector("ReceiverIDs");
    $("table").css("border-collapse", "collapse");

    var showType = [{ text: "显示全部", value: "All" }, { text: "仅显示差异", value: "Diff" }, { text: "仅显示最新", value: "New" }];
    var versionID = getQueryString("ID");
    function pageLoad() {
        search();
    }

    function onDrawingCell(e) {
        var treeGrid = e.sender;
        var record = e.record;
        var column = e.column;
        var field = e.field;
        if (record.NodeType != "Detail") {
            e.cellStyle = "font-weight:bolder; background:#F0F0F0";
        }
        else {
            if (record.ModifyState == "Add") {
                if (field == "Name") {
                    e.cellHtml = record.Name + "<img style=\"height:18px;float:right;\" src=\"/EPC/Scripts/Design/Bom/new_red.png\" />";// record.Name + "new";
                }
                e.cellStyle = "background:#BBFFFF";
            }
            else if (record.ModifyState == "Modify") {
                if (field == "Name") {
                    e.cellHtml = '<span id="' + record.ID + '" class="showCellTooltip" data-placement="bottomleft">' + record.Name + '</span>';
                }
                e.cellStyle = " background: yellow;";
            }
            else if (record.ModifyState == "Remove") {
                e.cellStyle = "background:url('/EPC/Scripts/Design/Bom/red-line.jpg')  center ;color:#fff";
            }
        }
    }

    $(document).ready(function () {
        var tip = new mini.ToolTip();
        tip.set({
            target: document,
            selector: '.showCellTooltip',
            onbeforeopen: function (e) {
                e.cancel = false;
            },
            onopen: function (e) {
                var el = e.element;
                var id = el.id;
                if (id) {
                    this.showLoading();
                    addExecuteParam("ID", id);
                    addExecuteParam("VersionID", versionID);
                    execute("GetLastDetailInfo", {
                        showLoading: false, refresh: false, onComplete: function (data) {
                            var html = $("#formTemplate").tmpl(data);
                            tip.setContent(html);
                        }, validateForm: false
                    });
                }
            }
        });
    });

    function onShowTypeChanged(e) {
        search();
    }

    function search() {
        var showDiff = "New";

        if (mini.getbyName("ShowType")) {
            showDiff = mini.getbyName("ShowType").getValue();
        }

        var url = "GetTreeList?VersionID=" + versionID + "&ShowType=" + showDiff;
        var dataTree = mini.get("dataTree");
        dataTree.setUrl(url);
    }

</script>
<style>
    body {
        background-color: #fff;
    }

    .showCellTooltip {
        background: yellow;
    }
</style>