@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <script src="@Url.Content("/CommonWebResource/CoreLib/Basic/jQuery/jquery-1.8.3.min.js")" type="text/javascript"></script>  
    <script src="@Url.Content("/CommonWebResource/CoreLib/MiniUI/miniui.js")" type="text/javascript"></script>
    <script src="@Url.Content("/CommonWebResource/CoreLib/MiniUI/baseMiniuiExt.js?v=5_5_14")" type="text/javascript"></script>
    <script src="@Url.Content("/Base/Scripts/Gallery/jquery.ad-gallery.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Base/Scripts/Gallery/jquery.ad-gallery.css")" />
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/PortalLTE/Scripts/bootstrap/css/bootstrap.min.css" />

    <style>
        .funnscreen {
            width: 100% !important;
            height: 100% !important;
            top: 0 !important;
            left: 0 !important;
            position: fixed !important;
            z-index: 9999 !important;
        }

        .iconbacksize {
            font-size: 20px;
            background-color: red;
            color: white;
            right: 5px;
            top: 5px;
            padding: 3px;
            border-radius: 50%;
        }
    </style>
    <script language="javascript" type="text/javascript">

        var myGalleries;
        $(function () {
            var newsImageUrl = "/Base/PortalBlock/NewsImage/";
            execute(newsImageUrl + "GetModel?ID=" + getQueryString("ID"), {
                onComplete: function (data) {
                    $(".ad-title-h1").text($.trim(data.Title));
                    var creatTime = new Date($.trim(data.CreateTime));
                    $(".ad-title-h2").text("发布时间：" + creatTime.format("yyyy年MM月dd日") + "   发布人：" + $.trim(data.CreateUserName));
                    execute(newsImageUrl + "GetPicturesInfo?ID=" + getQueryString("ID"), {
                        onComplete: function (data) {
                            var $list = $(".ad-thumb-list");
                            var imgsHTML = "";
                            $.each(data, function (i, item) {
                                var imgUrl = newsImageUrl + "GetPic?GroupID=" + item.GroupID + "&ID=" + item.ID;
                                var imgThumbUrl = newsImageUrl + "GetPicThumb?GroupID=" + item.GroupID + "&ID=" + item.ID;
                                //var $img = $("<img>").attr("src", imgThumbUrl).data("ad-desc", item.Description);
                                //$list.append($("<li></li>").append($("<a></a>").attr("href", imgUrl).append($img)));
                                imgsHTML += "<li><a href='" + imgUrl + "'><img height='60px' src='" + imgThumbUrl + "' alt='" + $.trim(item.Description) + "'></a></li>"
                            });
                            $list.html(imgsHTML);
                            myGalleries = $('.ad-gallery').adGallery({
                                width: $(window).width() - 60,
                                height: $(window).height() - $(".ad-nav").height() - $(".ad-controls").height() - $(".ad-title-h1").height() - $(".ad-title-h2").height() - 60,
                                slideshow: {
                                    start_label: '滚动播放',
                                    stop_label: '停止'
                                }
                            });
                            var fullscreen = $('<i id="fullscreen" class="glyphicon glyphicon-fullscreen" style="cursor:pointer;position:absolute;right:10px;top:10px;z-index:999"></i>');
                            $('.ad-image-wrapper').append(fullscreen);
                            fullscreen.click(function () {
                                if ($("#fullscreen").hasClass("glyphicon-fullscreen")) {
                                    $("#fullscreen").removeClass("glyphicon-fullscreen");
                                    $("#fullscreen").addClass("glyphicon-remove");
                                    $("#fullscreen").addClass("iconbacksize");
                                } else {
                                    $("#fullscreen").removeClass("glyphicon-remove");
                                    $("#fullscreen").removeClass("iconbacksize");
                                    $("#fullscreen").addClass("glyphicon-fullscreen");
                                }

                                $(".ad-image-wrapper").toggleClass("funnscreen");
                                $(".ad-image-wrapper").height($(window).height() - $(".ad-nav").height() - $(".ad-controls").height() - $(".ad-title-h1").height() - $(".ad-title-h2").height() - 60);
                                $(".ad-image-wrapper").width($(window).width() - 60);
                                var img = $('.ad-image img');
                                var size = _getContainedImageSize($(".ad-image img").width(), $(".ad-image img").height());
                                $(".ad-image img").height(size.height);
                                $(".ad-image img").width(size.width);
                                $(".ad-image").height(size.height);
                                $(".ad-image").width(size.width);
                                $(".ad-next").height($(window).height() - $(".ad-nav").height() - $(".ad-controls").height() - $(".ad-title-h1").height() - $(".ad-title-h2").height() - 60);
                                $(".ad-prev").height($(window).height() - $(".ad-nav").height() - $(".ad-controls").height() - $(".ad-title-h1").height() - $(".ad-title-h2").height() - 60);
                                $(".ad-image-wrapper").css('top', '0px');

                                if (size.height < $(".ad-image-wrapper").height()) {
                                    var dif = $(".ad-image-wrapper").height() - size.height;
                                    $(".ad-image").css('top', (dif / 2) + 'px');
                                };
                                $(".ad-image-wrapper").css('left', '0px');

                                if (size.width < $(".ad-image-wrapper").width()) {
                                    var dif = $(".ad-image-wrapper").width() - size.width;
                                    $(".ad-image").css('left', (dif / 2) + 'px');
                                } else {
                                    $(".ad-image").css('left', 0 + 'px');
                                }
                            })

                            $(window).resize(function () {
                                $(".ad-image-wrapper").height($(window).height() - $(".ad-nav").height() - $(".ad-controls").height() - $(".ad-title-h1").height() - $(".ad-title-h2").height() - 60);
                                $(".ad-image-wrapper").width($(window).width() - 60);
                                var img = $('.ad-image img');
                                var size = _getContainedImageSize($(".ad-image img").width(), $(".ad-image img").height());
                                $(".ad-image img").height(size.height);
                                $(".ad-image img").width(size.width);
                                $(".ad-image").height(size.height);
                                $(".ad-image").width(size.width);
                                $(".ad-image-wrapper").css('top', '0px');
                                $(".ad-next").height("100%");
                                $(".ad-prev").height("100%");
                                if (size.height < $(".ad-image-wrapper").height()) {
                                    var dif = $(".ad-image-wrapper").height() - size.height;
                                    $(".ad-image").css('top', (dif / 2) + 'px');
                                };
                                $(".ad-image-wrapper").css('left', '0px');

                                if (size.width < $(".ad-image-wrapper").width()) {
                                    var dif = $(".ad-image-wrapper").width() - size.width;
                                    $(".ad-image").css('left', (dif / 2) + 'px');
                                };
                            })
                            function _getContainedImageSize(image_width, image_height) {
                                var ratio = image_width / image_height;
                                image_height = $(".ad-image-wrapper").height();
                                image_width = $(".ad-image-wrapper").height() * ratio;
                                if (image_width > $(".ad-image-wrapper").width()) {
                                    var ratio = image_height / image_width;
                                    image_width = $(".ad-image-wrapper").width();
                                    image_height = $(".ad-image-wrapper").width() * ratio;
                                };
                                return { width: image_width, height: image_height };
                            }

                        }
                    });
                }
            });
        });

        Date.prototype.format = function (format) {
            /*
            * eg:format="yyyy-MM-dd hh:mm:ss";
            */
            var o = {
                "M+": this.getMonth() + 1, // month
                "d+": this.getDate(), // day
                "h+": this.getHours(), // hour
                "m+": this.getMinutes(), // minute
                "s+": this.getSeconds(), // second
                "q+": Math.floor((this.getMonth() + 3) / 3), // quarter
                "S": this.getMilliseconds()
                // millisecond
            }

            if (/(y+)/.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4
                        - RegExp.$1.length));
            }

            for (var k in o) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1
                            ? o[k]
                            : ("00" + o[k]).substr(("" + o[k]).length));
                }
            }
            return format;
        }
    </script>
</head>
<body style="overflow:hidden">

    <div class="ad-title-h1"></div>
    <div class="ad-title-h2"></div>
    <div id="gallery" class="ad-gallery" style="padding:30px;">
        <div class="ad-image-wrapper">
        </div>
        <div class="ad-controls">
        </div>
        <div class="ad-nav">
            <div class="ad-thumbs">
                <ul class="ad-thumb-list"></ul>
            </div>
        </div>
    </div>


</body>
</html>
