@section scripts{
    <link href="@Url.Content("/Base/Scripts/ShortMsg/Msg.css")" rel="stylesheet" type="text/css" />
}
<div class="mini-splitter" id="_splitter" style="width: 100%; height: 100%;" vertical="true" allowresize="false" handlersize="0">
    <div size="35" showcollapsebutton="false" style="border: 0px; padding-left: 6px; line-height: 35px;">
        <div style="width: 200px; white-space: nowrap; width: 60%; text-align: left; float: left; margin-left: 5px;">
            <input class="mini-checkbox" id="cbAttachment" text="@ViewBag.Attachment" onvaluechanged="onAttachmentValueChanged" />
            <span class="separator"></span>
            <a class="mini-button" iconCls="icon-remove" onclick="deleteMsgs()" plain="true">@ViewBag.Delete</a>
        </div>
        <div style="float: right; text-align: right;">
            <div style="float: left; width: 220px; line-height: 22px; line-height: 35px;">
                <input id="key" style="width: 100%" class="mini-buttonedit gw-searchbox" emptytext="@ViewBag.QueryInput" onenter="searchMsg();" onbuttonclick="searchMsg();" />
            </div>
            <div style="float: left; padding-top: 3px; line-height: 35px;">
                <a class="mini-button" onclick="showWindow('queryWindow')" iconcls="icon-find" plain="true">@ViewBag.DetailedInquiry</a>
            </div>
        </div>
    </div>
    <div showcollapsebutton="false">
        <div class="mini-splitter" style="width: 100%; height: 100%;" borderstyle="border:0px">
            <div showcollapsebutton="false" size="60%" style="border: 0px">
                <div class="mini-fit">
                    <div class="mini-splitter" style="width: 100%; height: 100%;" borderstyle="border:0px" vertical="true" allowresize="false" handlersize="0">
                        <div size="30" showcollapsebutton="false" style="border: 0px">
                            <div class="left_filters">
                                <div class="left_filter_wrapper">
                                    <div class="left_filter_left">
                                        <input class="mini-checkbox" id="cbSelectAll" onvaluechanged="onSelectAllValueChanged" />
                                    </div>
                                    <div class="left_filter_right">
                                        <a href="javascript:void(0)"><span>@ViewBag.Importance</span><i field="Importance" class="down"></i></a>
                                        <a href="javascript:void(0)"><span>@ViewBag.Title</span><i field="Title" class="down"></i></a>
                                        <a href="javascript:void(0)"><span>@ViewBag.Recipient</span><i field="ReceiverNames" class="down"></i></a>
                                        <a href="javascript:void(0)" class="active"><span>@ViewBag.Time</span><i field="SendTime" class="down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div showcollapsebutton="false" style="border: 0px">
                            <div id="dataGrid" borderstyle="border:0px" class="mini-datagrid" onrowclick="onRowclick" style="width: 100%; height: 100%;" sortField="SendTime" sortOrder="desc" url="GetSendList"
                        multiselect="true"@* onload="onGridLoad"*@>
                                <div property="columns">
                                    <div type="checkcolumn" width="30"></div>
                                    <div name="Content" width="*" renderer="onContentRenderer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div showcollapsebutton="true">
                <iframe id="mainiframe" style="height: 100%; width: 100%; border: 0px" frameborder="0px" src=""></iframe>
            </div>
        </div>
    </div>
</div>
<div id="queryWindow" class="mini-window" title="@ViewBag.DetailedInquiry" style="width: 640px; height: 200px;"
    showmodal="true" allowresize="false" allowdrag="true">
    <div class="queryDiv">
        <form id="queryForm" method="post">
            <table>
                <tr>
                    <td width="15%" align="center">@ViewBag.Recipient
                    </td>
                    <td width="35%" align="left">
                        <input name="$LK$ReceiverNames" style="width: 100%" class="mini-textbox" />
                    </td>
                    <td width="15%" align="center">@ViewBag.Title
                    </td>
                    <td width="35%" align="left">
                        <input name="$LK$Title" style="width: 100%" class="mini-textbox" />
                    </td>
                </tr>
                <tr>
                    <td width="15%" align="center">@ViewBag.Content
                    </td>
                    <td width="35%" align="left" colspan="3">
                        <input name="$LK$ContentText" style="width: 100%" class="mini-textbox" />
                    </td>
                </tr>
                <tr>
                    <td width="15%" align="center">@ViewBag.Attachment
                    </td>
                    <td width="35%" align="left">
                        <input name="$LK$AttachFileIDs" style="width: 100%" class="mini-textbox" />
                    </td>
                    <td width="15%" align="center">@ViewBag.SendTime
                    </td>
                    <td width="35%" align="left">
                        <input name="$FR$SendTime" style="width: 100px;" class="mini-datepicker" />
                        -
                    <input name="$TO$SendTime" style="width: 100px;" class="mini-datepicker" />
                    </td>
                </tr>
            </table>
        </form>
        <div>
            <a class="mini-button" onclick="search()" iconcls="icon-find"  style="margin-right: 20px;">@ViewBag.Query</a> <a class="mini-button" onclick="clearQueryForm('queryForm')"  iconcls="icon-undo">@ViewBag.Clear</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    mini.parse();
    var grid = mini.get("dataGrid");
    var miniKey = mini.get("key");

    $(function () {
        $(grid.getEl()).find(".mini-grid-columns").hide();
        bindFilter();
    });

    function searchMsg() {
        var data = {};
        if ($.trim(miniKey.getValue()) != "") {
            var searchFields = "ReceiverNames,Title,AttachFileIDs"
            var keys = searchFields.split(',');
            for (i = 0, len = keys.length; i < len; i++) {
                data["$LK$" + keys[i]] = miniKey.getValue();
            }
            data["IsOrRelation"] = "True"; //快速查询条件间为或关系
        }
        var isAttachment = mini.get("cbAttachment").getValue() == "true" ? "T" : "F";

        if (grid != undefined)
            grid.load({ quickQueryFormData: mini.encode(data), attachment: isAttachment });

    }

    function onGridLoad(e) {
        if (e.data.length > 0) {
            var row = e.sender.getRow(0);
            e.sender.select(row);
            loadMsg(row["ID"]);
        }
    }

    function onAttachmentValueChanged(e) {
        searchMsg()
    }

    function onSelectAllValueChanged(e) {
        if (e.sender.getValue() == "true")
            grid.selectAll(false);
        else
            grid.deselectAll(false);
    }

    function bindFilter() {
        var $filter = $(".left_filter_right");
        $filter.find("a").click(function (event) {
            var $ele = $(this);
            if ($ele.hasClass("active")) {
                if ($ele.find("i").hasClass("down")) {
                    $ele.find("i").removeClass("down").addClass("up");
                }
                else if ($ele.find("i").hasClass("up")) {
                    $ele.find("i").removeClass("up").addClass("down");
                }
            }
            else {
                $filter.find("a").removeClass("active");
                $ele.addClass("active");
            }
            var sortOrder = "";
            if ($ele.find("i").hasClass("up"))
                sortOrder = "asc";
            else if ($ele.find("i").hasClass("down"))
                sortOrder = "desc";
            var sortField = $ele.find("i").attr("field");
            if ($.trim(sortField) != "" && $.trim(sortOrder) != "") {
                grid.sortBy(sortField, sortOrder);
            }
        });
        $filter.find("a").hover(
        function () {
            if (!$(this).hasClass("active"))
                $(this).addClass("left_filter_right_on");
        },
        function () {
            if ($(this).hasClass("left_filter_right_on"))
                $(this).removeClass("left_filter_right_on");
        });
    }

    function onRowclick(e) {
        var id = e.record.ID;
        loadMsg(id);
    }

    function loadMsg(id) {
        execute("GetModel?ID=" + id, {
            onComplete: function (data) {
                if ($("#mainiframe").attr("src") == "")
                    $("#mainiframe").attr("src", "/Base/ShortMsg/ReceiveMsg/Views?ID=" + id);
                else
                    $("#mainiframe")[0].contentWindow.setData(data);
            }
        });
    }

    function onContentRenderer(e) {
        var rec = e.record;
        var rowIndex = e.rowIndex;
        var $table = $("<table width=\"100%\" border=\"0\" cellspacing=\"5\" style=\"table-layout:fixed;\" cellpadding=\"0\"></table");

        var id = rec.ID;
        var receiverID = rec.ReceiverID;
        //第一行
        var receiverNames = $.trim(rec.ReceiverNames);
        var senderTime = $.trim(rec.SendTime) == "" ? "" : new Date(rec.SendTime).format("yyyy年MM月dd日hh:mm:ss");
        var title = $.trim(rec.Title);
        var $img = $("<img>").attr("width", "16px").attr("height", "16px").attr("border", "0px").attr("align", "absmiddle");
        var $tr1td = $("<td></td>").append($("<h1></h1>").append(receiverNames)).append($("<h2></h2>").text("[" + senderTime + "]"));
        if ($.trim(rec.AttachFileIDs) != "") {
            $tr1td.append($("<h6></h6>").append($img.clone().attr("title", "附件").attr("src", "/CommonWebResource/RelateResource/image/ico16/attachment.png")));
        }
        if ($.trim(rec.IsCollect) != '1')
            var $imgCollect = $("<a></a>").attr("href", "javascript:void(0)").attr("title", "@ViewBag.CollectMessage").append($img.clone().attr("src", "/Base/Scripts/ShortMsg/collect.png").attr("onclick", "collect('" + id + "'," + rowIndex + ")").attr("onmouseover", "imgMouseOver(event)").attr("onmouseout", "imgMouseOut(event)"));
        //var $imgReply = $("<a></a>").attr("href", "javascript:void(0)").attr("title", "回复消息").append($img.clone().attr("src", "/Base/Scripts/ShortMsg/reply.png").attr("onclick", "reply('" + id + "'," + rowIndex + ")").attr("onmouseover", "imgMouseOver(event)").attr("onmouseout", "imgMouseOut(event)"));
        var $imgForword = $("<a></a>").attr("href", "javascript:void(0)").attr("title", "@ViewBag.ForwardMessage").append($img.clone().attr("src", "/Base/Scripts/ShortMsg/forward.png").attr("onclick", "forward('" + id + "'," + rowIndex + ")").attr("onmouseover", "imgMouseOver(event)").attr("onmouseout", "imgMouseOut(event)"));
        var $imgDel = $("<a></a>").attr("href", "javascript:void(0)").attr("title", "@ViewBag.DeleteMessage").append($img.clone().attr("src", "/Base/Scripts/ShortMsg/delete.png").attr("onclick", "deleteMsgBody(" + rowIndex + ",'" + id + "')").attr("onmouseover", "imgMouseOver(event)").attr("onmouseout", "imgMouseOut(event)"));
        $tr1td.append($("<span></span>").append($imgCollect).append($imgForword).append($imgDel));
        var $tr1 = $("<tr></tr>").append($tr1td);
        $table.append($tr1);

        //第二行
        var $title = $("<h3></h3>").append($("<a></a>").attr("href", "javascript:;").text(title).attr("onclick", "openMsg('" + id + "'," + rowIndex + ");"));
        var $tr2td = $("<td></td>").append($title);
        if ($.trim(rec.Importance) == "1")
            $tr2td.append($("<span></span>").attr("title", "重要").css("width", "14px").css("height", "16px").addClass("icon-important"));
        $table.append($("<tr></tr>").append($tr2td));

        //第三行
        //        var content = $.trim(rec.ContentText) == "" ? "" : $.trim(rec.ContentText) + "...";
        //        if ($.trim(content) != "") {
        //            var $content = $("<h5></h5>").text(content);
        //            $table.append($("<tr></tr>").append($("<td></td>").append($content)));
        //        }

        var $html = $("<div></div>").attr("id", "Content" + id).append($table);
        $html.addClass("left_main_listread");

        return $html[0].outerHTML;
    }

    function imgMouseOver(e) {
        if (!e) e = window.event;
        var img = e.target || e.srcElement;
        var src = $(img).attr("src").replace(".png", "on.png");
        $(img).attr("src", src);
    }

    function imgMouseOut(e) {
        if (!e) e = window.event;
        var img = e.target || e.srcElement;
        var src = $(img).attr("src").replace("on.png", ".png");
        $(img).attr("src", src);
    }

    function selectRowMsg(action, rowIndex) {
        grid.deselectAll(false);
        mini.get("cbSelectAll").setValue(false);
        grid.select(grid.getRow(rowIndex), true);
    }

    function reply(id, rowIndex) {
        selectRowMsg("reply", rowIndex);
        add({ url: '/Base/ShortMsg/ReceiveMsg/Edit?ParentID=' + id + '&ReplyID=' + id + '', title: '回复消息', mustSelectOneRow: true, width: '80%', height: '85%' });
    }

    function forward(id, rowIndex) {
        selectRowMsg("forward", rowIndex);
        add({ url: '/Base/ShortMsg/ReceiveMsg/Edit?ParentID=' + id + '&ForwardID=' + id + '', title: '转发消息', mustSelectOneRow: true, width: '80%', height: '85%' });
    }

    function collect(id, rowIndex) {
        var msgs = grid.getSelecteds();
        if (msgs.length > 0) {
            msgUI("确认收藏消息？", 2, function (action) {
                if (action == "ok") {
                    $.each(msgs, function (i, item) {
                        if ($.trim(item.ID) != "" && id == item.ID) {
                            addExecuteParam("IDs", item.ID);
                            execute("/Base/ShortMsg/SendMsg/collect", {
                                onComplete: function (rtn) {
                                    searchMsg();
                                }
                            });
                        }
                    });
                }
            });
        }
    }

    function deleteMsgBody(rowIndex, id) {
        selectRowMsg("delete", rowIndex);
        var msgs = grid.getSelecteds();
        if (msgs.length > 0) {
            msgUI("确认删除？", 2, function (action) {
                if (action == "ok") {
                    $.each(msgs, function (i, item) {
                        if ($.trim(item.ID) != "" && id == item.ID) {
                            addExecuteParam("IDs", item.ID);
                            execute("/Base/ShortMsg/SendMsg/DeleteMsgBody", {
                                onComplete: function (rtn) {
                                    searchMsg();
                                }
                            });
                        }
                    });
                }
            });
        }
    }
    function deleteMsgs() {
        var msgs = grid.getSelecteds();
        if (msgs.length > 0) {
            msgUI("确认删除？", 2, function (action) {
                if (action == "ok") {
                    var ids = new Array();
                    $.each(msgs, function (i, item) {
                        if ($.trim(item.ID) != "")
                            ids.push(item.ID);
                    });
                    addExecuteParam("IDs", ids.join(','));
                    execute("/Base/ShortMsg/SendMsg/DeleteMsgBody", {
                        onComplete: function (rtn) {
                            grid.reload();
                        }
                    });
                }
            });
        }
    }


    function openMsg(id, rowIndex) {
        selectRowMsg("open", rowIndex);
        openWindow("/Base/ShortMsg/ReceiveMsg/Views?ID=" + id + "&FuncType=Send", {
            width: "60%",
            height: "85%",
            title: "查看消息"
        });
    }

    Date.prototype.format = function (format) {
        /* 
        * eg:format="yyyy-MM-dd hh:mm:ss"; 
        */
        var o = {
            "M+": this.getMonth() + 1, // month  
            "d+": this.getDate(), // day  
            "h+": this.getHours(), // hour  
            "m+": this.getMinutes(), // minute  
            "s+": this.getSeconds(), // second  
            "q+": Math.floor((this.getMonth() + 3) / 3), // quarter  
            "S": this.getMilliseconds()
            // millisecond  
        }

        if (/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4
                        - RegExp.$1.length));
        }

        for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1
                            ? o[k]
                            : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    }


</script>
