@{
    ViewBag.Title = "TaskWorkExecuteAnylise";
}
<script src="/CommonWebResource/CoreLib/Basic/fusioncharts/FusionCharts.js" type="text/javascript"></script>
<script src="/CommonWebResource/CoreLib/Basic/fusioncharts/FusionCharts.jqueryplugin.js" type="text/javascript"></script>
<div id="mainLayout" class="mini-layout" style="width: 100%; height: 100%;" splitsize="3">
    <div title="north" region="north" height="300" showspliticon="false" showheader="false">
        <div class="mini-toolbar" style="padding: 0px; border-top: 0; border-right: 0; border-left: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <div id="TimeType" class="mini-radiobuttonlist" style="float: left; padding-top: 3px; width: 150px" repeatlayout="table"
                            textfield="text" valuefield="value" data="TimeType" onvaluechanged="ChangeReportTimeType" value="Month">
                        </div>
                        <input id="Year" name="Year" class="mini-combobox" style="width: 100px;" shownullitem="false"
                            allowinput="false" value="@ViewBag.DefaultYear" data="YearEnum"/>
                        <input id="Season" name="Season" class="mini-combobox" style="width: 100px;display:none" shownullitem="false"
                            allowinput="false" value="@ViewBag.DefaultSeason" data = "QuarterEnum" />
                        <input id="Month" name="Month" class="mini-combobox" style="width: 100px;" shownullitem="false"
                            allowinput="false" value="@ViewBag.DefaultMonth" data = "MonthEnum"/>
                        &nbsp; &nbsp;专业:
                        <input id="Major" name="Major" class="mini-combobox" style="width: 150px;" allowinput="false" data="Major"
                            multiselect="true" />
                        <a class="mini-button" iconcls="icon-search" onclick="loadData" plain="true">查询</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mini-fit">
            <div class="mini-layout" style="width: 100%; height: 100%" splitsize="3">
                <div title="east" region="east" width="600" showheader="false" showspliticon="false" style="border-top: 0;
                    border-bottom: 0; border-right: 0;">
                    <div id="columnChartContainer">
                    </div>
                </div>
                <div title="center" region="center" style="border-top: 0; border-bottom: 0; border-left: 0;">
                    <div id="AngularGaugeContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div title="center" region="center" style="border-right: 0; border-bottom: 0; border-left: 0;">
        <div class="mini-fit">
            <div id="dataGrid" showpager="false" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID"
                multiselect="true" showsummaryrow="true" ondrawsummarycell="onDrawSummaryCell" borderstyle="border:0;">
                <div property="columns">
                    <div type="indexcolumn">
                    </div>
                    <div field="MajorName" width="*" headeralign="center" align="center">
                        专业</div>
                    <div field="AllCount" width="90" headeralign="center" align="right" summarytype="sum">
                        卷册总数</div>
                    <div field="AllFinishedCount" width="90" headeralign="center" align="right" summarytype="sum">
                        已完成数</div>
                    <div field="AllFinishedPercent" width="90" headeralign="center" align="right" dataformat="">
                        完成比例(%)</div>
                    <div field="PeriodCount" width="90" headeralign="center" align="right" summarytype="sum">
                        本期计划数</div>
                    <div field="PeriodFinished" width="90" headeralign="center" align="right" summarytype="sum">
                        本期完成数</div>
                    <div field="PeriodPercent" width="100" headeralign="center" align="right">
                        本期完成比例(%)</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var Major = @Html.Raw(ViewBag.MajorJson)
    @Html.GetEnum("YearEnum");
    @Html.GetEnum("MonthEnum");
    @Html.GetEnum("QuarterEnum");
    var TimeType = [{ "value": "Year", "text": "年" }, { "value": "Season", "text": "季度" }, { "value": "Month", "text": "月"}]
</script>
<script type="text/javascript">
    var projectInfoID = getQueryString("ProjectInfoID");

    function ChangeReportTimeType(e) {
        var seasonCo = mini.getbyName("Season");
        var monthCo = mini.getbyName("Month");
        seasonCo.hide(); monthCo.hide();
        if (e.value == "Season") {
            seasonCo.show();
            monthCo.setValue("");
        }
        else if (e.value == "Month") {
            monthCo.show();
            seasonCo.setValue("");
        }
        else {
            monthCo.setValue("");
            seasonCo.setValue("");
        }
    }

    function pageLoad() {
        loadData();
    }

    function loadData(queryData) {
        addExecuteParam("Year", mini.getbyName("Year").getValue());
        addExecuteParam("Season", mini.getbyName("Season").getValue());
        addExecuteParam("Month", mini.getbyName("Month").getValue());
        addExecuteParam("MajorValue", mini.getbyName("Major").getValue());
        execute("GetList", { onComplete: function (responseData) {
            var dataGrid = mini.get("dataGrid");
            dataGrid.loadData(responseData.data);
            var columnChart = new FusionCharts("/CommonWebResource/CoreLib/Basic/fusioncharts/MSColumn2D.swf", "ChartId", "100%", 250);
            columnChart.setJSONData(responseData.ColumnChart);
            columnChart.render("columnChartContainer");
            var angularChart = new FusionCharts("/CommonWebResource/CoreLib/Basic/FusionWidgetsCharts/AngularGauge.swf", "ChartId", "100%", 250);
            angularChart.setJSONData(responseData.AngularChart);
            angularChart.render("AngularGaugeContainer");
        }
        });
    }


    function onDrawSummaryCell(e) {
        var result = e.result;
        var grid = e.sender;
        //服务端汇总计算
        if (e.field == "MajorName") {
            e.cellHtml = "合计：";
            e.cellStyle = " text-align: center;color:Brown";
        }
        else {
            e.cellStyle = " text-align: right;color:Brown";
        }
    }
</script>
