<style type="text/css">
    body, td, th {
        font-size: 12px;
    }

    .adduser {
        width: 16px;
        height: 16px;
        overflow: hidden;
        margin: auto;
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/adduser.gif) no-repeat;
        text-align: center;
        display: block;
    }
</style>
<div class="mini-fit">
    <div class="mini-splitter" style="width: 100%; height: 100%;" borderstyle="border:0px"
         allowresize="false" id="Splitter">
        <div size="50%" showcollapsebutton="false" style="border-right: 1px solid #ccc;">
            <div id="tabs" class="mini-tabs" tabposition="left" onactivechanged="TabClick" activeindex="0"
                 style="width: 100%; height: 100%;" borderstyle="border:0px" plain="false">
                <div title="@ViewBag.Dept" name="deptRole">
                    <ul id="dataTree" class="mini-tree" url="../Org/GetTree" style="width: 100%; height: 100%;
                        overflow-x: hidden" showtreeicon="true" textfield="Name" idfield="ID" parentfield="ParentID"
                        resultastree="false" onnodeselect="nodeSelect" expandonload="0" data=""></ul>
                </div>
                <div title="@ViewBag.Role" name="sysRole">
                    <div id="sysRoleGrid" showpager="false" class="mini-datagrid" style="width: 100%;
                        height: 100%;" borderstyle="border:0;" showfooter="false" url="../Role/GetSysRoleList"
                         onrowclick="onRoleRowClick" pagesize="500">
                        <div property="columns">
                            <div type="checkcolumn" width="20px">
                            </div>
                            <div field="Name" headeralign="center" align="center" allowsort="true">
                                系统角色名
                            </div>
                        </div>
                    </div>
                </div>
                <div title="@ViewBag.Contact" name="linkMan">
                    <ul id="linkManTree" class="mini-tree" url="GetLinkManTree" style="width: 100%; height: 100%;
                        overflow-x: hidden" showtreeicon="true" iconfield="Type" textfield="Name" idfield="ID"
                        parentfield="ParentID" resultastree="false" expandonload="1" allowselect="true"
                        ondrawnode="OnDrawNode" ongivefeedback="onNodeDroping" onbeforedrop="onNodeDrop"
                        ondragstart="onDragStart" allowdrag="true" allowdrop="true" contextmenu="#treeMenu"
                        showcheckbox="true"></ul>
                </div>
                <div title="@ViewBag.Leave" name="linkMan">
                    <div class="mini-toolbar gw-grid-toolbar" style="border-left: 0px; border-right: 0px;
                        padding: 0px">
                        <table style="border-spacing: 0px; padding: 0px">
                            <tr>
                                <td class="gw-toolbar-right">
                                    <input id="retiredUserKey" class="mini-buttonedit gw-searchbox" emptytext="请输入工号或姓名"
                                           onenter="quickSearch('WorkNo,Name',{queryBoxId:'retiredUserKey',gridId:'retiredUser'});"
                                           onbuttonclick="quickSearch('Code,Name',{queryBoxId:'retiredUserKey',gridId:'retiredUser'});" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="mini-fit">
                        <div id="retiredUser" class="mini-datagrid" style="width: 100%; height: 100%;" borderstyle="border-left:1px solid #ccc;border-right:1px solid #ccc"
                             showfooter="false" url="GetRetiredUserList">
                            <div property="columns">
                                <div type="checkcolumn">
                                </div>
                                <div field="WorkNo" headeralign="center" align="center" allowsort="true" width="80">
                                    @ViewBag.EmployeeID
                                </div>
                                <div field="Name" headeralign="center" align="center" allowsort="true" width="80">
                                    @ViewBag.Name
                                </div>
                                <div field="DeptName" headeralign="center" align="center" allowsort="true" width="*">
                                    @ViewBag.OriginalDepartment
                                </div>
                                <div field="DeleteTime" headeralign="center" align="center" allowsort="true" dateformat="yyyy-MM-dd"
                                     width="100">
                                    @ViewBag.LeaveTime
                                </div>
                                <div field="selector" width="40" align="center" headeralign="center">
                                    @ViewBag.Choice
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div showcollapsebutton="false">
            <div class="mini-toolbar gw-grid-toolbar" style="border-left: 0px; border-right: 0px;
                padding: 0px">
                <table style="border-spacing: 0px; padding: 0px">
                    <tr>
                        <td style="white-space: nowrap;">
                            <input class="mini-buttonedit searchbox" id="key" emptytext="@ViewBag.QueryKey" style="width: 100%;"
                                   onenter="quickSearch('WorkNo,Name',{gridId:'dataGrid'});" onbuttonclick="quickSearch('WorkNo,Name',{gridId:'dataGrid'});" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="mini-fit">
                <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" borderstyle="border-left:0px;border-right:0px"
                     allowcellselect="false" allowcelledit="false" ondrawcell="onDrawCell"
                     showfooter="false" showpager="false" pager="#pager1" pagesize="10">
                    <div property="columns">
                        <div field="WorkNo" width="40" headeralign="center" align="center" allowsort="true">
                            @ViewBag.EmployeeID
                        </div>
                        <div field="Name" width="50" headeralign="center" align="center" allowsort="true">
                            @ViewBag.Name
                        </div>
                        <div field="LinkMan" width="20" align="center" headeralign="center">
                            @ViewBag.Collect
                        </div>
                        <div field="selector" width="26" align="center" headeralign="center">
                            @ViewBag.Choice
                        </div>
                    </div>
                </div>
            </div>
            <div class="mini-pager" id="pager1" showpageindex="false" showpagesize="false" showpageinfo="false"
                 showreloadbutton="false">
            </div>
        </div>
    </div>
</div>
<ul id="treeMenu" class="mini-contextmenu" onbeforeopen="onBeforeOpen">
    <li iconcls="icon-remove" onclick="">删除联系人</li>
</ul>
<script type="text/javascript">

    var linkMan = [];
    $.ajax({
        type: "POST",
        url: "GetMyLinkManIDs",
        success: function (data) {
            //增加新版报错分支
            if (data.errcode) {
                var msg = getErrorFromHtml(data.errmsg);
                msgUI(msg, 4);
                return;
            }
            for (var i = 0; i < data.length; i++) {
                var id = data[i].ID;
                linkMan[id] = 1;
            }
        },

        dataType: "json"
    });

    function onNodeDroping(e) {
        //不能拖放到非同级节点的前后
        if ((e.effect == "before" || e.effect == "after") && e.targetNode.ParentID != e.node.ParentID)
            e.effect = "no";
        if (e.effect != "before" && e.effect != "after")
            e.effect = "no";
    }

    function TabClick(e) {
        switch (e.tab.name) {
            case "deptRole":
                mini.get("Splitter").showPane(2);
                var grid = mini.get("dataGrid");
                grid.setUrl("GetOrgUserList?RootFullID=" + getQueryString("RootFullID"));
                grid.load();
                break;
            case "sysRole":
                var sysGrid = mini.get("sysRoleGrid");
                var grid = mini.get("dataGrid");
                if (sysGrid.data.length > 0 && sysGrid.getRow(0).ID) {
                    grid.setUrl("/MvcConfig/Auth/User/GetScopeUserList?RoleIDs=" + sysGrid.getRow(0).ID);
                    grid.load();
                    sysGrid.setSelected(sysGrid.getRow(0));
                }
                else
                    grid.clearRows();
                mini.get("Splitter").showPane(2);
                break;
            case "linkMan":
                mini.get("Splitter").hidePane(2);
                break;
        }
    }

    function OnDrawNode(e) {
        if (e.node.Name == "我的联系人")
            e.iconCls = "Org";
        else
            e.iconCls = "Post";
    }


    function LinkManSelect(id, name, workno, deptname, deptid) {
        closeWindow([{ ID: id, Name: name, WorkNo: workno, DeptName: deptname, DeptID: deptid }]);
    }

    function RemoveLinkMan(id) {
        execute("DeleteLinkMan?ID='" + id + "'", {
            mustConfirm: true, actionTitle: '移除', onComplete: function () {
                var tree = mini.get("linkManTree");
                var node = tree.getNode(id);
                linkMan[id] = 0;
                tree.removeNode(node);
                tree.reload();
            }
        });
    }

    function DeleteUser(e) {

        var linkTree = mini.get("linkManTree");
        var items = linkTree.getCheckedNodes(false);
        if (items.length == 0 || items[0]["ID"] == "Root") {
            msgUI("请选中要删除的联系人！");
        }
        else {
            var rows = new Array();
            for (var i = 0, l = items.length; i < l; i++) {
                rows.push("'" + items[i]["ID"] + "'");
                linkTree.removeNode(items[i]);
                linkMan[items[i]["ID"]] = 0;
            }
            addExecuteParam("ID", rows.join(","));
            execute("DeleteLinkMan", {
                onComplete: function (r) {
                    mini.get("linkManTree").reload();
                    msgUI("删除成功!");
                }
            });

        }
    }

    function onBeforeOpen(e) {
        e.cancel = true;
        //阻止浏览器默认右键菜单
        e.htmlEvent.preventDefault();
        return;
    }
    function onNodeDeleting(e) {
        nodeDeleting({ action: 'DeleteLinkMan?ID={ID}', treeId: 'linkManTree', paramFrom: 'linkManTree', mustConfirm: false, actionTitle: '' });
    }


    function addLinkMan(e, id) {
        $(e).hide();
        linkMan[id] = 1;
        addExecuteParam("linkManID", mini.encode(id));
        execute("SaveUserLinkMan", { closeWindow: false, actionTitle: "收藏", onComplete: function () { mini.get("#linkManTree").load(); } });
    }

    function onDrawCell(e) {
        if (e.field == "LinkMan") {
            if (linkMan[e.record.ID] != 1) {
                var title = CurrentLGID == "EN" ? "Add to my contacts" : "添加到我的联系人";
                e.cellHtml = "<span class='adduser' onclick='addLinkMan(this,\"" + e.record["ID"] + "\")' title='" + title + "' style='cursor:pointer;float:center;'></span>";
            }
        }
    }

    function nodeSelect(e) {
        var grid = mini.get("dataGrid");
        grid.setUrl("/MvcConfig/Auth/User/GetScopeUserList?OrgIDs=" + e.node.ID);
        grid.load();
    }

    function onDragStart(e) {
        e.dragText = "<font size='2'>移动人员：" + e.node.Name + "</font>";
    }

    function onRoleRowClick(e) {
        var grid = mini.get("dataGrid");
        grid.setUrl("/MvcConfig/Auth/User/GetScopeUserList?RoleIDs=" + e.record.ID);
        grid.load();
    }


    function returnValue(row) {
        closeWindow([row]);
    }

    var linkText = CurrentLGID == "EN" ? "Choice" : "选择";
    addGridButton('dataGrid', 'selector', { linkText: linkText, onButtonClick: returnValue });
    addGridButton('retiredUser', 'selector', { linkText: linkText, onButtonClick: returnValue });

</script>
<style type="text/css">
    .GroupCompany {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/org.gif) no-repeat;
    }

    .Company {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/org.gif) no-repeat;
    }

    .Org {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/org.gif) no-repeat;
    }

    .Dept {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/dept.gif) no-repeat;
    }

    .ManufactureDept {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/cutover.png) no-repeat;
    }

    .SubDept {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/node.png) no-repeat;
    }

    .Post {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/user.png) no-repeat;
    }
</style>
