@section scripts{

    <link href="@Url.Content("/CommonWebResource/RelateResource/Uploadify/uploadifive.css")" rel='stylesheet' type='text/css' />
    <script src="@Url.Content("/CommonWebResource/RelateResource/Uploadify/jquery.uploadifive.min.js")" type="text/javascript"></script>

    <style type="text/css">
        body
        {
            margin: 0px;
        }

        .gw_user_wrapper
        {
            margin: 0 0 0 10px;
            width: 96%;
            padding-top: 8px;
            padding-left: 15px;
        }

        .gw_user_photo
        {
            border: 1px #eee solid;
            width: 90px;
            height: 120px;
            float: left;
            margin-right: 30px;
        }

        .gw_user_text
        {
            font-size: 12px;
            color: #666;
            width: 100%;
        }

            .gw_user_text header
            {
                margin: 20px 0;
            }

            .gw_user_text span.f1
            {
                font-size: 18px;
                color: #000;
                padding-right: 10px;
                font-weight: bold;
                font-family: Microsoft YaHei;
            }

            .gw_user_text span.f2
            {
                font-size: 16px;
                color: #666;
                font-family: Microsoft YaHei;
            }

            .gw_user_text p
            {
                font-size: 14px;
                color: #666;
                font-family: Microsoft YaHei;
            }

        .gw_user_name
        {
            border: 1px #eee solid;
            float: left;
            height: 30px;
            width: 80px;
        }

        .gw_user_bt a
        {
            background: url(gw_user_bt_bg.jpg) no-repeat;
            text-align: center;
            text-decoration: none;
            width: 119px;
            height: 31px;
            line-height: 31px;
            font-size: 14px;
            margin: 0px 15px 0px 0px;
            display: block;
            float: left;
            color: #000;
        }
        .uploadifive-button 
        {
                float: left;
            background-color: #f7f7f7;
            border: 1px solid #666;
            border-radius: 5px;
            margin-right: 10px;}
    </style>
}
<div class="gw_user_wrapper" id="editForm">
    <div class="gw_user_text">
        <header>
            <span class="f1">@Formula.FormulaHelper.GetUserInfo().UserName</span>
            <span class="f2">您好:</span>
        </header>
        <p>你可点击“上传头像”和“上传签名"来维护您的个人信息。您的头像和签名将用于系统的整个流程请及时维护更新。</p>
        <b style="float: left;"> 当前签名图片：</b><br />
        <div class="gw_user_name">
            <input id="auditsign" class="mini-signpic" userid="@Formula.FormulaHelper.UserID" />
        </div>
        <div style="width: 100%; float: left; padding:5px 0 0 0;">
            <input id="SignImg" type="file" name="SignImg" />
            <a href="javascript:void(0);" onclick="freePic('Sign')">清空</a>
            说明：个人签名图片的尺寸为80*30，请选择合适比例的图片文件上传。
        </div>
        <br>
        <div style="width: 100%; float: left; padding:5px 0 ;">
            <input id="SignDwg" type="file" name="SignDwg" />
            <a href="javascript:void(0);" onclick="freePic('Dwg')">清空</a>&nbsp;
            @if (ViewBag.IsHasDwg)
            {
                <a href="javascript:void(0);" onclick="downloadDwg()">下载</a>
            }
            说明：请上传Dwg格式的签名文件。
        </div>
        <br>
        <div  style=" background-color: #f7f7f7; border: 1px solid #666;  border-radius: 5px;  margin-right: 10px; width:120px; height:25px; line-height:25px;    overflow: hidden; text-align: center;  margin-top: 5px;"><a href="#" onclick="inputSignPwd();">请输入签名密码</a></div>
        
        <br />
        <div style="width: 100%; float: left; border-bottom: 1px #eee solid;margin-bottom: 15px;">
        </div>
        <b>当前头像图片：</b><br>
        <div class="gw_user_photo">
            <input id="usersign" class="mini-PortraitPic" userid="@Formula.FormulaHelper.UserID" />
        </div>
        <div style="width: 100%; float: left;margin-top: 5px;">
            <input id="UserImg" type="file" name="UserImg" />
            <a href="javascript:void(0);" onclick="freePic('Portrait')">清空</a>
            说明：个人头像图片的尺寸为225*300，请选择合适比例的图片文件上传。
        </div>
    </div>
</div>
<script type="text/javascript">
    var form = new mini.Form("#editForm");
    var tid = 0;

    function downloadDwg() {
        var url = "DownloadDwg";
        window.open(url);
    }

    function onDwgSuccess(e) {
        this.setText("");
        form.unmask();
        msgUI("上传成功" + e.serverData + "！");
        location.reload();
    }
    function onSigndSuccess(e) {
        mini.get("auditsign").setValue("@Formula.FormulaHelper.UserID" + "&t=" + (tid++));
        this.setText("");
        form.unmask();
        msgUI("上传成功" + e.serverData + "！");
    }

    function onPortraitSuccess(e) {
        mini.get("usersign").setValue("@Formula.FormulaHelper.UserID" + "&t=" + (tid++));
        this.setText("");
        form.unmask();
        msgUI("上传成功" + e.serverData + "！");
    }

    function startUpload(imgType) {
        var fileupload;
        if (imgType == "Sign")
            fileupload = mini.get("SignImg");
        else if (imgType == "Portrait")
            fileupload = mini.get("UserImg");
        else
            fileupload = mini.get("SignDwg");
        if (fileupload.getText() == "") {
            msgUI("请先选择本地文件！", 1);
            return;
        }

        form.clear();
        form.loading();
        fileupload.startUpload();
    }

    function freePic(imgType) {
        if (imgType == "Sign") {
            msgUI("确认清空当前签名图片吗？", 2, function (action) {
                if (action == "ok") {
                    form.clear();
                    form.loading();
                    execute("FreeSign?imgType=" + imgType, { onComplete: onClearComplete });
                    return;
                }
            });
        }
        else if (imgType == "Portrait") {
            msgUI("确认清空当前头像图片吗？", 2, function (action) {
                if (action == "ok") {
                    form.clear();
                    form.loading();
                    execute("FreeSign?imgType=" + imgType, { onComplete: onClearComplete });
                    return;
                }
            });
        }
        else if (imgType == "Dwg") {
            msgUI("确认清空当前Dwg签名文件吗？", 2, function (action) {
                if (action == "ok") {
                    form.clear();
                    form.loading();
                    execute("FreeSign?imgType=" + imgType, { onComplete: onClearComplete });
                    return;
                }
            });
        }
    }

    function onClearComplete(e) {
        if (e.ImgType == "Sign" || e.ImgType == "Portrait")
            mini.get("auditsign").setValue("@Formula.FormulaHelper.UserID" + "&t=" + (tid++));
        else {
            mini.get("usersign").setValue("");
            location.reload();
        }
        form.unmask();
    }
</script>
<script type="text/javascript">
    function inputSignPwd() {
        msgUI("请输入签名密码", 5, function (btn, text) {
            if (btn == "ok") {
                jQuery.ajax({
                    url: 'SetSignPwd?Pwd=' + text,
                    type: "post",
                    success: function (text, textStatus) {
                        //增加新版报错分支
                        if (text && typeof (text) == "string" && text.indexOf("{\"errcode\"") == 0) {
                            var fail = jQuery.parseJSON(text);
                            var msg = getErrorFromHtml(fail.errmsg);
                            msgUI(msg, 4);
                            return;
                        }
                        msgUI("设置成功！");
                    }
                });
            }
        });
    }
</script>
<script type="text/javascript">
    $(function () {

        $("#SignImg").uploadifive({
            'multi': false,
            'auto': true,
            'checkScript': '',
            'formData': {},
            'queueID': "SignImg",
            fileType: "image/*",
            uploadScript: "/Base/Auth/User/UploadImg?isPortrait=false",
            buttonClass: "",
            buttonText: '<font color="#0000ff" style="text-decoration:underline">上传签名图</font>',
            width: 120,
            height: 25,
            onFallback: function () {
                alert("该浏览器无法使用!");
            },
            onUploadComplete: function (file, data, response) {
                mini.get("auditsign").setValue("@Formula.FormulaHelper.UserID" + "&t=" + (tid++));
                form.unmask();
                msgUI("上传成功" + "！");
            },
            onUpload: function () {

            },
            onSelect: function (file) {
             
            }
        });


        $("#SignDwg").uploadifive({
            'multi': false,
            'auto': true,
            'checkScript': '',
            'formData': {},
            'queueID': "SignDwg",
            fileType: "application/x-autocad",
            uploadScript: "/Base/Auth/User/UploadDwg",
            buttonClass: "",
            buttonText: '<font color="#0000ff" style="text-decoration:underline">上传新Dwg签名文件</font>',
            width: 120,
            height: 25,
            onFallback: function () {
                alert("该浏览器无法使用!");
            },
            onUploadComplete: function (file, data, response) {
                form.unmask();
                msgUI("上传成功" + "！");
                location.reload();
            },
            onUpload: function () {

            },
            onSelect: function (file) {
              
            }
        });


        $("#UserImg").uploadifive({
            'multi': false,
            'auto': true,
            'checkScript': '',
            'formData': {},
            'queueID': "UserImg",
            fileType: "image/*",
            uploadScript: "/Base/Auth/User/UploadImg?isPortrait=true",
            buttonClass: "",
            buttonText: '<font color="#0000ff" style="text-decoration:underline">上传新头像</font>',
            width: 120,
            height: 25,
            onFallback: function () {
                alert("该浏览器无法使用!");
            },
            onUploadComplete: function (file, data, response) {
                form.unmask();
                msgUI("上传成功" + "！");
                location.reload();
            },
            onUpload: function () {

            },
            onSelect: function (file) {
               
            }
        });

    });
</script>