@{
    ViewBag.Title = "DocumentManager";
}

<div id="mainLayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div title="west" region="west" width="280" expanded="true" showheader="false" showspliticon="false" allowresize="false">
        <div class="mini-toolbar" style="padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;"></td>
                    <td style="white-space: nowrap;">
                        <input class="mini-buttonedit searchbox" id="treekey" emptytext="请输入目录名" style="width: 200px;" onenter="search();"
                            onbuttonclick="search();" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="mini-fit">
            <ul id="dataTree" class="mini-tree" style="width: 100%; height: 100%;" showtreeicon="true" textfield="Name" idfield="ID"
                enablehottrack="false" parentfield="ParentID" resultastree="false" expandonload="@ViewBag.DisplayLevel" onnodeselect="onnodeselect"
                ondrawnode="onDrawNode">
            </ul>
        </div>
    </div>
    <div title="center" region="center" style="border-top: 0px; border-left: 0px; border-right: 0px;">
        <div id="subLayout" class="mini-layout" style="width: 100%; height: 100%;">
            <div title="south" region="south" showsplit="false" showheader="false" height="200" showspliticon="false">
                <div class="mini-fit" style="padding-top: 2px;">
                    <div id="subTab" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;">
                        <div title="基本信息">
                            <form id="dataForm" method="post" align="center" autogetdata="false">
                                <div class="formDiv" style="background-color: #fff; text-align: left">
                                    @Html.Raw(ViewBag.BaseHtml)
                                </div>
                            </form>
                        </div>
                        <div title="自定义属性">
                            <form id="dataForm" method="post" align="center" autogetdata="false">
                                <div id="divAttrForm" class="formDiv" style="background-color: #fff; text-align: left">
                                </div>
                            </form>
                        </div>
                        <div title="版本信息">
                            <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <a class="mini-button" iconcls="icon-add" onclick="docUpgrade();" plain="true">文件升版</a>
                                            <a class="mini-button" iconcls="icon-remove" onclick="removeUpgrade();" plain="true">移除版本</a>
                                        </td>
                                        <td style="white-space: nowrap;"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="mini-fit">
                                <div id="versionGrid" url="" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID" multiselect="true"
                                    borderstyle="border-bottom:0px;" showpager="false">
                                    <div property="columns">
                                        <div type="checkcolumn">
                                        </div>
                                        <div field="IsCurrentVersion" width="70" headeralign="center" allowsort="false" align="center">
                                            是否当前版本
                                        </div>
                                        <div field="VersionNo" width="50" headeralign="center" allowsort="false" align="right">
                                            版本号
                                        </div>
                                        <div field="VersionName" width="70" headeralign="center" allowsort="false">
                                            版本名称
                                        </div>
                                        <div field="CreateUser" width="70" headeralign="center" allowsort="false"
                                            align="center">
                                            创建人
                                        </div>
                                        <div field="CreateDate" width="70" headeralign="center" dateformat="yyyy-MM-dd" allowsort="false" align="center">
                                            创建日期
                                        </div>
                                        <div field="MainFileName" width="200" headeralign="center" allowsort="false">
                                            主文件
                                        </div>
                                        <div field="AttachmentsName" width="150" headeralign="center" allowsort="false">
                                            附件
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div title="附件查看">
                            <form id="attachForm" method="post" align="center" autogetdata="false">
                                <div class="formDiv" style="background-color: #fff; text-align: left">
                                    <table class="ke-zeroborder" style="width: 100%;" cellpadding="2" border="0">
                                        <tr>
                                            <td width="15%">主文件</td>
                                            <td>
                                                <input name='MainFile' class='mini-singlefile' style='width: 100%' /></td>
                                        </tr>
                                        <tr>
                                            <td>其他附件</td>
                                            <td>
                                                <input name='Attachments' class='mini-multifile' style='width: 100%' /></td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div title="center" region="center">
                <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 100%;">
                                <a class="mini-button" id="btnAdd" iconcls="icon-add" onclick="addDocument();" plain="true">增加</a>
                                <a class="mini-button" id="btnEdit" iconcls="icon-edit" onclick="modifyDocument();" plain="true">编辑</a>
                                <a class="mini-button" id="btnDel" iconcls="icon-remove" onclick="removeDocument();" plain="true">删除</a>
                            </td>
                            <td style="white-space: nowrap;">
                                <input class="mini-buttonedit searchbox" id="key" emptytext='@ViewBag.QuickSearchName' style="width: 200px;" onenter="quickSearch('@ViewBag.QuickSearchCode', { gridId: 'dataGrid', queryBoxId: 'key' });"
                                       onbuttonclick="quickSearch('@ViewBag.QuickSearchCode', { gridId: 'dataGrid', queryBoxId: 'key' });" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="mini-fit">
                    <div id="dataGrid" url="" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID" multiselect="true"
                        borderstyle="border-bottom:0px;" onselectionchanged="onSelectionChanged">
                        <div property="columns">
                            <div type="checkcolumn">
                            </div>
                            @if (ViewBag.ColDefine != null)
                            {
                                foreach (var dic in ViewBag.ColDefine)
                                {
                                    <div name='@dic["Code"]' field='@dic["Code"]' header='@dic["Name"]' width='@dic["Width"]' align='@dic["Align"]' visible='@dic["IsDisplay"]' dateformat="yyyy-MM-dd" allowsort='true'></div>
                                }
                            }
                            <div field="Browse" headeralign="center" width="60" allowsort="true" align="center">
                                浏览
                            </div>
                            <div field="DownLoad" headeralign="center" width="60" allowsort="true" align="center">
                                下载
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    @Html.Raw(ViewBag.BaseScrpitHtml)
    var QuickSearchCode = '@ViewBag.QuickSearchCode';
</script>
<script type="text/javascript">
    var readAuth = "0";
    var downAuth = "0";
    var engineeringInfoID = getQueryString("EngineeringInfoID");
    var folderKey = getQueryString("FolderKey");
    var url = "GetTree?EngineeringInfoID=" + engineeringInfoID + "&FolderKey=" + folderKey;
    $("#dataTree").attr("url", url);

    $(".mini-button").hide();

    addGridLink('dataGrid', 'Name', '/EPC/Documents/Document/PageView?TmplCode=DocumentManager&FolderID={FolderID}&ID={ID}&FuncType=View',
        {
            "width": "60%", "height": "90%", "title": "查看", "mustSelectOneRow": "true", onFilter: function (e) {
                return readAuth == "1";
            }
        });


    addGridButton("dataGrid", "DownLoad", {
        linkText: "下载",
        onButtonClick: function (row) {
            if (!row.MainFile) {
                msgUI("没有可下载的附件"); return;
            }
            DownloadFile(row.MainFile);
        }, onFilter: function (e) {
            return downAuth == "1";
        }
    });

    addGridButton("versionGrid", "MainFileName", {
        onButtonClick: function (row) {
            if (!row.MainFile) {
                msgUI("没有可下载的附件"); return;
            }
            DownloadFile(row.MainFile);
        }
    });

    addGridButton("versionGrid", "AttachmentsName", {
        onButtonClick: function (row) {
            if (!row.Attachments) {
                msgUI("没有可下载的附件"); return;
            }
            DownloadFile(row.Attachments);
        }
    });


    function pageLoad() {
        setFormDisabled();
        setFormDisabled({ formId: "attachForm" });
    }

    function onDrawNode(e) {
        var node = e.node;
        if (!node.ParentID) {
            e.nodeStyle = "font-weight:bolder; ";
        }
        else {
            if (node.FileCount > 0) {
                e.nodeHtml = node.Name + "【" + node.FileCount + "】";
            }
            if (node.WriteAuth != "1") {
                e.nodeStyle = "color:red;";
            }
        }
    }

    function search() {
        var tree = mini.get("dataTree");
        var key = mini.get("treekey").getValue();
        if (key == "") {
            tree.clearFilter();
        } else {
            key = key.toLowerCase();
            tree.filter(function (node) {
                var text = node.Name ? node.Name.toLowerCase() : "";
                if (text.indexOf(key) != -1) {
                    return true;
                }
            });
        }
    }

    var folderID = "";
    function onnodeselect(e) {
        var node = e.node;
        var dataGrid = mini.get("dataGrid");
        folderID = node.ID;
        if (node.WriteAuth == "1")
            $(".mini-button").show();
        else
            $(".mini-button").hide();
        readAuth = node.BrowseAuth;
        downAuth = node.DownLoadAuth;
        dataGrid.setUrl("GetDocumentList?FolderID=" + node.ID);
        quickSearch(QuickSearchCode, { gridId: "dataGrid", queryBoxId: 'key' });
    }

    function addDocument() {
        var url = "PageView?TmplCode=DocumentManager&FolderID=" + folderID;
        openWindow(url, {
            refresh: false, title: "增加文件", width: "60%", height: "90%",
            onDestroy: function (data) {
                if (!data || data == "close") return;
                mini.get("dataGrid").reload();
                //mini.get("dataTree").reload();
            }
        });
    }

    function removeDocument() {
        var dataGrid = mini.get("dataGrid");
        var rows = dataGrid.getSelecteds();
        if (rows.length == 0) {
            msgUI("请选择一条记录"); return;
        }
        msgUI("您确定要删除选中内容吗？", 2, function (result) {
            if (result != "ok") { return; }
            addExecuteParam("ListData", mini.encode(rows));
            execute("DeleteDocument", {
                showLoading: true, refresh: false, onComplete: function (data) {
                    mini.get("dataGrid").reload();
                    mini.get("dataTree").reload();
                }, validateForm: false
            });
        });
    }

    function docUpgrade() {
        var dataGrid = mini.get("dataGrid");
        var row = dataGrid.getSelected();
        var url = "Upgrade?DocumentID=" + row.ID;
        if (row) {
            openWindow(url, {
                refresh: false, title: "文件升版", width: "50%", height: "60%",
                onDestroy: function (data) {
                    if (data && data != "close") {
                        mini.get("versionGrid").reload();
                        dataGrid.reload();
                    }
                }
            });
        }
        else {
            msgUI("请选择一个文件记录"); return;
        }
    }

    function removeUpgrade() {
        var versionGrid = mini.get("versionGrid");
        var rows = versionGrid.getSelecteds();
        if (rows.length == 0) { msgUI("请选择一条记录"); return; }
        addExecuteParam("ListData", mini.encode(rows));
        execute("RemoveVersion", {
            showLoading: true, refresh: false, onComplete: function (data) {
                versionGrid.reload();
            }, validateForm: false
        });
    }

    function modifyDocument() {
        var dataGrid = mini.get("dataGrid");
        var row = dataGrid.getSelected();
        if (!row) { msgUI("请选择一条记录"); return; }
        var url = "PageView?TmplCode=DocumentManager&FolderID=" + folderID + "&ID=" + row.ID;
        openWindow(url, {
            refresh: false, title: "编辑文件", width: "60%", height: "90%",
            onDestroy: function (data) {
                if (!data || data == "close") return;
                mini.get("dataGrid").reload();
            }
        });
    }

    function onSelectionChanged(e) {
        if (e.selected) {
            var form = new mini.Form("dataForm");
            if (form) {
                if (readAuth == "1")
                    form.setData(e.selected);
                else
                    form.setData();
            }
            var attachform = new mini.Form("attachForm");
            if (attachform) {
                if (readAuth == "1")
                    attachform.setData(e.selected);
                else
                    attachform.setData();
            }
            var versionGrid = mini.get("versionGrid");
            if (downAuth == "1")
                versionGrid.setUrl("GetVersionList?DocumentID=" + e.selected.ID);
            else
                versionGrid.setUrl("GetVersionList?DocumentID=");
            versionGrid.reload();
            if (readAuth == "1")
                setCusAttr(e.selected.ID);
        }

    }

    function setCusAttr(docID) {
        addExecuteParam("ID", docID);
        execute("GetCusAttr", {
            showLoading: false, refresh: false, onComplete: function (data) {
                if (!data || data.length == 0) return;
                $("#divAttrForm").html(data["html"]);
            }, validateForm: false
        });
    }

</script>
