@{
    ViewBag.Title = "TreeList";
}
@using Config.Logic;
<div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-goto" onclick="gotoGantte();" plain="true">转到甘特图</a>
            </td>
            <td style="white-space: nowrap;">
                &nbsp;  &nbsp;  &nbsp;
                当前版本：<a href="javascript:void();" onclick="viewVersionList();">@ViewBag.VersionNo</a>
                &nbsp;  &nbsp;  &nbsp;
                展开至：<input name="ExpandedNodeType" class="mini-combobox" style="width: 100px;" textfield="text" valuefield="value" data="wbsNodeType" allowinput="false"
                           onvaluechanged="collapseLevel" value="@ViewBag.ExpandLevel" />
                <input id='key' class='mini-buttonedit gw-searchbox' emptytext='请输入任务名称或任务编号' onenter="treeSearch()" onbuttonclick="treeSearch();" />

            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="mainlayout" class="mini-layout" style="width: 100%; height: 100%;">
        @{
            var define = ViewBag.Define as EPC.Logic.Domain.S_C_ScheduleDefine;
            var visible = "true";
            if (!define.ShowTab)
            {
                visible = "false";
            }
            var tabSubList = new List<Dictionary<string, object>>();
            if (!String.IsNullOrEmpty(define.TabData))
            {
                tabSubList = Formula.Helper.JsonHelper.ToList(define.TabData);
            }

            var PreTaskVisible = "false"; var PreTaskEdit = "false";
            var UserResource = "false"; var UserResourceEdit = "false";
            var BomResource = "false"; var BomResourceEdit = "false";
            var BOQ = "false"; var BOQEdit = "false";
            var ContractResource = "false"; var ContractResourceEdit = "false";
            var Quantity = "false"; var QuantityEdit = "false";
            var Document = "false"; var DocumentEdit = "false";



            if (tabSubList.Exists(c => c["TabCode"].ToString() == "PreTask" && c["Visible"].ToString() == "1"))
            {
                PreTaskVisible = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "UserResource" && c["Visible"].ToString() == "1"))
            {
                UserResource = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "BomResource" && c["Visible"].ToString() == "1"))
            {
                BomResource = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "BOQ" && c["Visible"].ToString() == "1"))
            {
                BOQ = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "ContractResource" && c["Visible"].ToString() == "1"))
            {
                ContractResource = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "Quantity" && c["Visible"].ToString() == "1"))
            {
                Quantity = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "Document" && c["Visible"].ToString() == "1"))
            {
                Document = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "PreTask" && c["CanEdit"].ToString() == "1"))
            {
                PreTaskEdit = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "UserResource" && c["CanEdit"].ToString() == "1"))
            {
                UserResourceEdit = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "BomResource" && c["CanEdit"].ToString() == "1"))
            {
                BomResourceEdit = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "BOQ" && c["CanEdit"].ToString() == "1"))
            {
                BOQEdit = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "ContractResource" && c["CanEdit"].ToString() == "1"))
            {
                ContractResourceEdit = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "Quantity" && c["CanEdit"].ToString() == "1"))
            {
                QuantityEdit = "true";
            }
            if (tabSubList.Exists(c => c["TabCode"].ToString() == "Document" && c["CanEdit"].ToString() == "1"))
            {
                DocumentEdit = "true";
            }
        }
        <div title="相关信息" region="south" showsplit="true" showheader="false" height="220" showspliticon="true" visible="@visible">
            <div class="mini-fit" style="padding-top: 2px;">
                <div id="subTabs" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;">
                    @{
                        if (PreTaskVisible == "true")
                        {
                            var borderstyle = "border:0px;";
                            <div title="紧前作业">
                                <div class="mini-fit">
                                    <div id="PreTaskGrid" url="" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID" multiselect="true"
                                         allowcellselect="true" editnextonenterkey="true" editnextrowcell="true" allowcelledit="true"
                                         showpager="false" borderstyle="@borderstyle">
                                        <div property="columns">
                                            <div type="checkcolumn">
                                            </div>
                                            <div field="PredecessorTaskName" width="200" headeralign="center" allowsort="true">
                                                作业名称
                                            </div>
                                            <div field="PredecessorTaskCode" width="120" headeralign="center" allowsort="true" align="center">
                                                作业编号
                                            </div>
                                            <div field="Type" width="120" headeralign="center" allowsort="true"
                                                 align="center">
                                                关系
                                            </div>
                                            <div field="Delay" headeralign="center" width="120" allowsort="true" align="center">
                                                延迟<input property="editor" class="mini-textbox" style="width: 100%;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @{
                        if (UserResource == "true")
                        {
                            var borderstyle = "border:0px;";
                            <div title="人员角色">
                                <div class="mini-fit">
                                    <div id="UserRoleGrid" url="" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID" multiselect="true"
                                         allowcellselect="true" editnextonenterkey="true" oncellendedit="onUserRoleGridCellEndEdit"
                                         editnextrowcell="true" allowcelledit="true"
                                         showpager="false" borderstyle="@borderstyle">
                                        <div property="columns">
                                            <div type="checkcolumn">
                                            </div>
                                            <div field="ResourceID" displayfield="ResourceName" width="200" headeralign="center" allowsort="true">
                                                人员姓名
                                                <input name='UserRole' property='editor' class='mini-buttonedit' allowinput='true' style='width:100%;' />
                                            </div>
                                            <div field="RoleCode" displayfield="RoleName" width="120" headeralign="center" allowsort="true" align="center">
                                                角色
                                                <input property="editor" class="mini-combobox" style="width:100%;" valuefield="value" textfield="text" data="DesignRoleDefine" />
                                            </div>
                                            <div field="Quantity" width="120" headeralign="center" allowsort="true"
                                                 align="center">
                                                工作量<input property="editor" class="mini-textbox" style="width: 100%;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (BomResource == "true")
                        {
                            var borderstyle = "border:0px;";
                            <div title="关联设备材料">
                                <div class="mini-fit">
                                    <div id="deviceInfoGrid" url="" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID" multiselect="true"
                                         allowcellselect="true" editnextonenterkey="true" oncellendedit="onDeviceGridCellEndEdit"
                                         editnextrowcell="true" allowcelledit="true" showpager="false" borderstyle="@borderstyle">
                                        <div property="columns">
                                            <div type="checkcolumn">
                                            </div>
                                            <div field="Code" width="70" headeralign="center" allowsort="false">
                                                设备编号
                                            </div>
                                            <div field="Name" width="200" headeralign="center" allowsort="false">
                                                设备名称
                                            </div>
                                            <div field="SubProjectName" width="90" headeralign="center" allowsort="false">
                                                所属子项
                                            </div>
                                            <div field="MajorName" width="90" headeralign="center" allowsort="false" align="center">
                                                所属专业
                                            </div>
                                            <div field="Quantity" width="70" headeralign="center" allowsort="false" align="right">
                                                数量<input property="editor" class="mini-textbox" style="width: 100%;" />
                                            </div>
                                            <div field="Specifications" width="150" headeralign="center" allowsort="false">
                                                规格
                                            </div>
                                            <div field="Model" width="150" headeralign="center" allowsort="false">
                                                型号
                                            </div>
                                            <div field="Branding" width="120" headeralign="center" allowsort="false">
                                                品牌
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (BOQ == "true")
                        {
                            var borderstyle = "border:0px;";
                            <div title="工程量">
                                <div class="mini-fit">
                                    <div id="BOQGrid" url="" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID" multiselect="true"
                                         showpager="false" borderstyle="@borderstyle">
                                        <div property="columns">
                                            <div type="checkcolumn">
                                            </div>
                                            <div field="Code" width="70" headeralign="center" allowsort="false">
                                                清单项名称
                                            </div>
                                            <div field="Name" width="200" headeralign="center" allowsort="false">
                                                清单项名称
                                            </div>
                                            <div field="Quantity" width="70" headeralign="center" allowsort="false">
                                                数量
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (Quantity == "true")
                        {
                            <div title="质量控制">
                            </div>
                        }

                    }
                    @{
                        if (Document == "true")
                        {
                            <div title="文档信息">
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div title="center" region="center">
            <div id="dataTree" class="mini-treegrid" style="width:100%;height:100%;" allowcellselect="true" editnextonenterkey="true"
                 editnextrowcell="true" allowcelledit="true"
                 url="" expandonload="true" showtreeicon="true" ondrawcell="onDrawingCell" allowcellwrap="true" oncellbeginedit="OnCellBeginEdit"
                 oncellendedit="onCellEndEdit" multiselect="true" borderstyle="border:0px;" onnodeselect="onNodeSelect" allowheaderwrap="true"
                 treecolumn="Name" idfield="ID" parentfield="ParentID" resultastree="false" expandonload="true" iconfield="TaskType"
                 allowdrag="true" allowdrop="true" allowleafdropin="true" ongivefeedback="onGiveFeedback" ondrop="onNodeDrop"
                 allowresize="false" fitcolumns="false">
                <div property="columns">
                    <div type="indexcolumn"></div>
                    @{
                        var scheduleDefine = ViewBag.Define as EPC.Logic.Domain.S_C_ScheduleDefine;
                        if (!String.IsNullOrEmpty(scheduleDefine.ColDefine))
                        {
                            var colDefinelist = Formula.Helper.JsonHelper.ToList(scheduleDefine.ColDefine);

                            foreach (var colDefine in colDefinelist)
                            {
                                var name = "";
                                if (colDefine.GetValue("treeCol") == "true")
                                { name = "Name"; }

                                if (colDefine.GetValue("visible") == "false") { continue; }

                                if (!String.IsNullOrEmpty(colDefine.GetValue("displayField")))
                                {
                                    if (colDefine.GetValue("inputType") == "textbox")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" displayfield="@colDefine.GetValue("displayField")" width="@colDefine.GetValue("width")" headeralign="center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-textbox" style="width:100%;" />
                                        </div>
                                    }
                                    else if (colDefine.GetValue("inputType") == "textarea")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" displayfield="@colDefine.GetValue("displayField")" width="@colDefine.GetValue("width")" headeralign=" center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-textarea" style="width:100%;" />
                                        </div>
                                    }
                                    else if (colDefine.GetValue("inputType") == "combobox")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" displayfield="@colDefine.GetValue("displayField")" width="@colDefine.GetValue("width")" headeralign=" center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-combobox" style="width:100%;" data="@colDefine.GetValue("EnumKey")" allowinput="true" />
                                        </div>

                                    }
                                    else if (colDefine.GetValue("inputType") == "ButtonEdit")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" displayfield="@colDefine.GetValue("displayField")" width="@colDefine.GetValue("width")" headeralign=" center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input name='@colDefine.GetValue("fieldName")' property='editor' class='mini-buttonedit' allowinput='true' style='width:100%;' />
                                        </div>
                                    }
                                    else if (colDefine.GetValue("inputType") == "SingleFile")
                                    {
                                        <div name="Name" field="@colDefine.GetValue("fieldName")" displayfield="@colDefine.GetValue("displayField")" width="@colDefine.GetValue("width")" headeralign=" center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-fileupload" style="width: 100%;"
                                                   flashurl="/commonwebresource/RelateResource/Uploadify/uploadify.swf"
                                                   uploadurl="/FileStore/SWFUpload/FileUploadHandler.ashx" uploadonselect="true" onuploadsuccess="onuploadsuccess" />
                                        </div>
                                    }
                                    else if (colDefine.GetValue("inputType") == "datepicker")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" displayfield="@colDefine.GetValue("displayField")" width="@colDefine.GetValue("width")" headeralign=" center" dateformat="yyyy-MM-dd" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-datepicker" style="width:100%;" />
                                        </div>
                                    }
                                }
                                else
                                {
                                    if (colDefine.GetValue("inputType") == "textbox")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" width="@colDefine.GetValue("width")" headeralign=" center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-textbox" style="width:100%;" />
                                        </div>
                                    }
                                    else if (colDefine.GetValue("inputType") == "textarea")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" width="@colDefine.GetValue("width")" headeralign=" center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-textarea" style="width:100%;" />
                                        </div>
                                    }
                                    else if (colDefine.GetValue("inputType") == "combobox")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" width="@colDefine.GetValue("width")" headeralign=" center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-combobox" style="width:100%;" data="@colDefine.GetValue("EnumKey")" allowinput="true" />
                                        </div>

                                    }
                                    else if (colDefine.GetValue("inputType") == "ButtonEdit")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" width="@colDefine.GetValue("width")" headeralign=" center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input name='@colDefine.GetValue("fieldName")' property='editor' class='mini-buttonedit' allowinput='true' style='width:100%;' />
                                        </div>
                                    }
                                    else if (colDefine.GetValue("inputType") == "SingleFile")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" width="@colDefine.GetValue("width")" headeralign=" center" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-fileupload" style="width: 100%;"
                                                   flashurl="/commonwebresource/RelateResource/Uploadify/uploadify.swf"
                                                   uploadurl="/FileStore/SWFUpload/FileUploadHandler.ashx" uploadonselect="true" onuploadsuccess="onuploadsuccess" />
                                        </div>
                                    }
                                    else if (colDefine.GetValue("inputType") == "datepicker")
                                    {
                                        <div name="@name" field="@colDefine.GetValue("fieldName")" width="@colDefine.GetValue("width")" headeralign=" center" dateformat="yyyy-MM-dd" align="@colDefine.GetValue("align")">
                                            @colDefine.GetValue("colName")
                                            <input property="editor" class="mini-datepicker" style="width:100%;" />
                                        </div>
                                    }
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var defineID = "@Html.Raw(ViewBag.DefineID)";
    var scheduleCode = "@Html.Raw(ViewBag.ScheduleCode)";// getQueryString("ScheduleCode");
    var wbsNodeType = @Html.Raw(ViewBag.NodeTypeEnum);
    var attrDefines =@Html.Raw(ViewBag.AttrDefine);
    for (var i = 0; i < attrDefines.length; i++) {
        var attrDefine = attrDefines[i];
        if(attrDefine.ItemType=="ButtonEdit"){
            var settings = mini.decode( attrDefine.Settings);
            if(settings.SelectorKey=="SystemUser"){
                if(settings.AllowMultiSelect=="false"){
                    addSingleUserSelector(attrDefine.AttrField,{returnParams:settings.returnParams});
                }
                else{
                    addMultiUserSelector(attrDefine.AttrField,{returnParams:settings.returnParams});
                }
            }
            else
            {
                addSelector(attrDefine.AttrField,{returnParams:settings.returnParams});
            }
        }
    }

</script>
<script id="formTemplate" type="text/x-jquery-tmpl">
    <div style="text-align:left; font-weight:bolder; color:red;">上一版内容</div>
    <table class="mini-grid-table" cellspacing="0" cellpadding="0" style="width:700px;table-layout:fixed;">
        <tr>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 200px;text-align:center">名称</td>
            <td class="mini-grid-headerCell mini-grid-bottomCell " style="width: 200px;text-align:center"> 备注</td>
        </tr>
        <tr>
            <td style="text-align: center">${Name}</td>
            <td style="text-align: center">${Remark}</td>
        </tr>
    </table>
</script>

<script type="text/javascript">
    var showType = [{ text: "显示全部", value: "All" }, { text: "仅显示差异", value: "Diff" }, { text: "仅显示最新", value: "New" }];
    var logicType = [{text:"FF",value:"0"},{text:"FS",value:"1"},{text:"SF",value:"2"},{text:"SS",value:"3"}];
    var engineeringInfoID = getQueryString("EngineeringInfoID");


    addGridEnum("PreTaskGrid", "Type", "logicType");

    var url = "GetTreeList?EngineeringInfoID=" + engineeringInfoID + "&DefineID="+defineID;
    $("#dataTree").attr("url", url);

    normalParamSettings.gridId = "dataTree";
    windowParamSettings.gridId = "dataTree";



    var showDiff =false;
    function onDrawingCell(e) {
        var treeGrid = e.sender;
        var record = e.record;
        var column = e.column;
        var field = e.field;
        e.cellStyle += "background:#F0F0F0;";
    }

    function gotoGantte() {
        var url="Gantte?EngineeringInfoID="+engineeringInfoID+"&ScheduleCode="+scheduleCode;
        window.location=url;
    }

    function onNodeSelect(e) {
        var node = e.selected;
        var resourceGrid =  mini.get("UserRoleGrid");
        var preTaskGrid =  mini.get("PreTaskGrid");
        var deviceGrid =  mini.get("deviceInfoGrid");
        var boqGrid =  mini.get("BOQGrid");
        if(node&&node.NodeType=="Task"){
            if(preTaskGrid){
                if(node.PredecessorLink){
                    if(preTaskGrid){
                        preTaskGrid.setData(mini.decode(node.PredecessorLink));
                    }
                }
                else
                {
                    preTaskGrid.clearRows();
                }
            }
            if(resourceGrid){
                if(node.UserResource){
                    resourceGrid.setData(mini.decode(node.UserResource));
                }
                else{
                    resourceGrid.clearRows();
                }
            }
            if(deviceGrid){
                if(node.DeviceInfo){
                    deviceGrid.setData(mini.decode(node.DeviceInfo));
                }
                else{
                    deviceGrid.clearRows();
                }
            }
            if(boqGrid){
                if(node.BOQInfo){
                    boqGrid.setData(mini.decode(node.BOQInfo));
                }
                else{
                    boqGrid.clearRows();
                }
            }
        }
        else{
            if(preTaskGrid) preTaskGrid.clearRows();
            if(resourceGrid) resourceGrid.clearRows();
            if(deviceGrid) deviceGrid.clearRows();
            if(boqGrid) boqGrid.clearRows();
        }
    }


    function viewVersionList() {
        var url = "/MvcConfig/UI/List/PageView?TmplCode=WBSVersionList&EngineeringInfoID=" + engineeringInfoID + "&ScheduleCode="+scheduleCode+"&VersionID=" + versionID;
        openWindow(url, {
            refresh: false, title: "计划版本信息", width: "70%", height: "60%",
            onDestroy: function () { }
        });
    }


    function OnCellBeginEdit(e) {
        e.cancel = true;return;
    }


    function refresh() {
        var tree = mini.get("dataTree");
        tree.reload();
    }


    function collapseLevel() {
        var level = mini.getbyName("ExpandedNodeType").getValue();
        var tree = mini.get("dataTree");
        tree.expandAll();
        tree.collapseLevel(level);
    }

    function flowTrace() {
        var url = "/MvcConfig/Workflow/Trace/Diagram?ID=" + versionID;
        openWindow(url, {
            refresh: false, title: "流程跟踪", width: "80%", height: "85%",
            onDestroy: function () { }
        });
    }

    function treeSearch() {
        var tree = mini.get("dataTree");
        var key = mini.get("key").getValue();
        if (key == "") {
            tree.clearFilter();
        } else {
            key = key.toLowerCase();
            tree.filter(function (node) {
                var text = node.Name ? node.Name.toLowerCase() : "";
                if (text.indexOf(key) != -1) {
                    return true;
                }
                var text1 = node.Code ? node.Code.toLowerCase() : "";
                if (text1.indexOf(key) != -1) {
                    return true;
                }
            });
        }
    }
</script>
