@{
    ViewBag.Title = "Tabs";
}

<link href="~/Scripts/WBS/WBSIcon.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/Menu/Style.css" rel="stylesheet" type="text/css" />

<div id="mainlayout" class="mini-layout" style="width: 100%; height: 100%;" splitsize="0">
    <div title="north" showheader="false" region="north" height="28" showspliticon="false" style="border:0px">
        <div class="menu_tab_a_bg">
            <ul id="TabPlan" class="menu_tab_a">
                @{
                    var modes = ViewBag.Modes as List<Project.Logic.Domain.S_T_ProjectMode>;
                    for (int i = 0; i < modes.Count; i++)
                    {
                        var mode = modes[i];
                        if (i == 0)
                        {
                            <li style="cursor:pointer">
                                <a style="cursor:pointer" key="@mode.ModeCode" class="current">@mode.Name</a>
                            </li>
                        }
                        else
                        {
                            <li style="cursor:pointer">
                                <a style="cursor:pointer" key="@mode.ModeCode">@mode.Name</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div title="center" region="center" style="border:0px">
        <div id="mainTab" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;" borderstyle="border:0;">
            <div title="" showheader="false" headerstyle="display:none;">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var key = "@Html.Raw(ViewBag.DefaultModeCode)";
</script>
<script type="text/javascript">
    var projectInfoID = getQueryString("ProjectInfoID");

    $("#TabPlan a").bind("click", function (e) {
        $("#TabPlan a").removeClass("current");
        key = $(e.target).attr("key");
        loadTab();
        $(e.target).addClass("current");
    });

    function onChange(e) {
        loadTab();
    }

    function loadTab() {
        if (key) {
            var url = "List?ProjectModeCode=" + key;
            var mainTabs = mini.get("mainTab");
            var tab = mainTabs.getTabs()[0];
            tab.url = url;
            mainTabs.reloadTab(tab);
        }
    }

    function pageLoad() {
        onChange();
    }
</script>
<style type="text/css">
    .mini-tabs-bodys {
        padding: 0 0 0 0;
    }

    .mini-tabs-scrollCt {
        visibility: hidden;
        height: 0px;
    }
</style>