@{
    ViewBag.Title = "客户分析";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="mini-toolbar" style="padding: 2px; border-bottom: 0;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                @Html.ExportButton()
            </td>
            <td style="white-space: nowrap;">
                <input class="mini-buttonedit searchbox" id="key" emptytext="请输入客户名称或客户编号" style="width: 200px;"
                       onenter="tabSearch();" onbuttonclick="tabSearch();" />
                <a class="mini-button" onclick="showWindow('queryWindow')" iconcls="icon-find" plain="true">
                    详细查询
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit" style="height: 100px;" id="GridArea">
    <div id="dataGrid" url="GetList" class="mini-datagrid" style="width: 100%; height: 100%;"
         idfield="ID" multiselect="true" showsummaryrow="true" ondrawsummarycell="onDrawSummaryCell"
         sortfield="ContractValue">
        <div property="columns">
            <div type="indexcolumn">
            </div>
            <div field="SerialNumber" width="100" allowsort="true" headeralign="center" allowsort="true"
                 align="center">
                客户编号
            </div>
            <div field="Name" width="200" headeralign="center" allowsort="true" allowsort="true"
                 align="left">
                客户名称
            </div>
            <div header="合同概况" headeralign="center">
                <div property="columns">
                    <div field="ContractValue" summarytype='sum' datatype="currency" width="110" headeralign="center"
                         allowsort="true" align="right">
                        合同总额（元）
                    </div>
                    <div field="RemainContractValue" summarytype='sum' datatype="currency" width="110"
                         headeralign="center" allowsort="true" align="right">
                        合同余额（元）
                    </div>
                    <div field="ReceiptRate" width="90" headeralign="center" allowsort="true" align="right">
                        到款率（%）
                    </div>
                </div>
            </div>
            <div header="到款概况" headeralign="center">
                <div property="columns">
                    <div field="InvoiceValue" summarytype='sum' datatype="currency" width="110" headeralign="center"
                         allowsort="true" align="right">
                        开票总额（元）
                    </div>
                    <div field="PlanReceiptValue" summarytype='sum' datatype="currency" width="110" headeralign="center"
                         allowsort="true" align="right">
                        计划总额（元）
                    </div>
                    <div field="ReceiptValue" summarytype='sum' datatype="currency" width="110" headeralign="center"
                         allowsort="true" align="right">
                        到款总额（元）
                    </div>
                    <div field="ReceivableValue" summarytype='sum' datatype="currency" width="110" headeralign="center"
                         allowsort="true" align="right">
                        应收账款（元）
                    </div>
                    <div field="PlanReceivableValue" summarytype='sum' datatype="currency" width="110"
                         headeralign="center" allowsort="true" align="right">
                        剩余计划收款（元）
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="queryWindow" class="mini-window" title="详细查询" style="width: 750px;" showmodal="true"
     allowresize="false" allowdrag="true">
    <div class="queryDiv">
        <form id="queryForm" method="post">
            <table>
                <tr>
                    <td width="10%" align="center">
                        客户编号
                    </td>
                    <td width="23%" align="left">
                        <input name="$LK$SerialNumber" style="width: 75%;" class="mini-textbox" />
                    </td>
                    <td width="10%" align="center">
                        客户名称
                    </td>
                    <td width="23%" align="left">
                        <input name="$LK$Name" class="mini-textbox" style="width: 75%" />
                    </td>
                    <td width="12%" align="center">
                        是否重点客户
                    </td>
                    <td width="23%" align="left">
                        <input class="mini-combobox" name="$EQ$IsImportantCustomer" style="width: 75%;" valuefield="value"
                               textfield="text" data="TrueOrFalse" shownullitem="true" />
                    </td>
                </tr>
                <tr>
                    <td width="10%" align="center">
                        省份
                    </td>
                    <td width="23%" align="left">
                        <input class="mini-combobox" name="$EQ$Province" id="Province" style="width: 75%;"
                               valuefield="value" textfield="text" shownullitem="true" data="Province" popupwidth="130px" />
                    </td>
                    <td width="10%" align="center">
                        区域
                    </td>
                    <td width="23%" align="left">
                        <input class="mini-combobox" name="$EQ$Area" id="Area" style="width: 75%;"
                               valuefield="value" textfield="text" shownullitem="true" data="Area" popupwidth="130px" />
                    </td>
                </tr>
            </table>
        </form>
        <div>
            <a class="mini-button" onclick="tabSearch();" iconcls="icon-find" style="margin-right: 20px;">
                查询
            </a><a class="mini-button" onclick="clearQueryForm()" iconcls="icon-undo">清空</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum("System.Country")
    @Html.GetEnum("System.Province")
    @Html.GetEnum("System.City")
    @Html.GetEnum("System.Area")
    @Html.GetEnum("System.TrueOrFalse")

    addGridLink('dataGrid', 'Name', '/EPC/Manage/CustomerInfo/PageView?TmplCode=CustomerInfo&ID={ID}&FuncType=View', { "width": "80%", "height": "90%", "title": "查看", "mustSelectOneRow": "true" });
</script>
<script type="text/javascript">
    addGridEnum("dataGrid", "InvoiceType", "InvoiceType");
    addGridEnum("dataGrid", "ReceiptState", "InvoiceReceiptState");
    normalParamSettings.searchFields = "SerialNumber,Name";

    function cusTabSearch(tabData, normalSettings) {
        var settings = $.extend(true, {}, normalParamSettings, normalSettings);
        var quickSearchData = {};
        var keyCo = mini.get(settings.queryBoxId);
        if (keyCo && settings.searchFields) {
            var keys = settings.searchFields.split(',');
            for (i = 0, len = keys.length; i < len; i++) {
                quickSearchData["$IL$" + keys[i]] = keyCo.getValue();
            }
        }
        var _formId = $("#" + settings.queryWindowId).find("form").attr("id");
        var data = {};
        if (_formId) {
            var form = new mini.Form("#" + _formId);
            form.validate(); if (form.isValid() == false) return;
            data = form.getData();
        }
        var belongYear = "All";
        for (var i = 0; i < tabData.length; i++) {
            var tabDataInfo = tabData[i];
            if (tabDataInfo.queryfield == "BelongYear") {
                belongYear = tabDataInfo.value;
                continue;
            }
            var key = "$IL$" + tabDataInfo.queryfield;
            data[key] = tabDataInfo.value;
        }

        var grid = mini.get("#" + settings.gridId);
        if (grid != undefined)
            grid.load({
                Year: belongYear,queryTabData: mini.encode(tabData), queryFormData: mini.encode(data),
                quickQueryFormData: mini.encode(quickSearchData)
            });
        var searchWindow = mini.get("#" + settings.queryWindowId);
        if (searchWindow)
            hideWindow(settings.queryWindowId);
    }


    //计算合计
    function onDrawSummaryCell(e) {
        var result = e.result;
        if (result.sumData && e.field) {
            if (result.sumData[e.field] != undefined) {
                e.cellHtml = result.sumData[e.field];
                e.cellStyle = "text-align:right; color:Brown";
            }
            else if (result.avgData[e.field] != undefined) {
                e.cellHtml = "平均：" + result.avgData[e.field];
                e.cellStyle = "text-align:center; color:Brown;datatype:currency";
            }
            else {
                e.cellHtml = "";
                e.cellStyle = "text-align:right; color:Brown";
            }
        }
        else {
            e.cellStyle = "text-align:right; color:Brown";
        }
    }
</script>
